body {
  margin: 40px;
  background-image: url("../images/middle-earth.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url("../images/background.jpg");
  border-radius: 30px;
}

.top-header {
  background: #C08E38BF;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
}

h1{
  color:brown;
  padding: 20px;
}

#board {
  position: relative;
  width: 60vw;
  height: 70vh;
  outline: 3px solid black;
  margin: auto;
  padding: 5px;
  background-image: url("../images/background.jpg");
}

.hobbit{
  position: absolute;
  background-image: url("../images/bilbo.png");
  background-size: cover;
}

.orc{
  position: absolute;
  background-image: url("../images/orcs1.png");
  background-size: cover;
}

.weapon{
  position: absolute;
  background-image: url("../images/arc.png");
  background-size: 115%;
}

.bullet {
  position: absolute;
  bottom: 40px;
  left: 51%;
  background-image: url("../images/rock.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 50%;
}
