body {
  margin: 50px;
  background-image: url("../images/middle-earth.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.top-header {
  background: #C08E385C;
  padding: 30px;
}

h1{
  color:brown;
}

#board {
  position: relative;
  width: 60vw;
  height: 70vh;
  outline: 3px solid black;
  margin: auto;
  padding: 5px;
  background-image: url("../images/background.jpg");
}

.hobbit{
/*  background-color: green;*/
  position: absolute;
  background-image: url("../images/bilbo.png");
  background-size: cover;
}

.orc{
  position: absolute;
  background-image: url("../images/orcs1.png");
  background-size: cover;
}

.weapon{
  position: absolute;
  background-image: url("../images/arc.png");
  background-size: 100%;
}

.bullet {
  position: absolute;
  bottom: 40px;
  left: 51%;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
}