body {
  margin: 50px;
  background-image: url("./images/middle-earth.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Explora', cursive;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

h1{
  color:brown;
}

#instructions {
  display: flex;
  flex-direction: column;
}

#intro {
  position: relative;
  width: 60vw;
  height: 70vh;
  outline: 3px solid black;
  margin: auto;
  padding: 5px;
  background-image: url("./images/background.jpg");
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

p{
  font-size: 30px;
  margin: 10px;
}

#intro .button {
  font-size: 30px;
  color: black;
  text-decoration: none;
  padding: 20px;
  background-color: #C08E387D;
  border: black 2px solid;
  border-radius: 20px;
  margin: 10px;
}

#intro a:hover {
  color: brown;
  background-color: #C08E385C ;
  border: #C08E387D 2px solid;
  border-radius: 20px;
}

img {
  width: 60px;
  height:60px;
}